Repository lucianmocan/unistra-Algorithmes-des-reseaux: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_exo01, trigger_exo02, trigger_exo03, trigger_exo04, trigger_exo05, trigger_exo06, trigger_exo07, trigger_exo08, trigger_exo09, trigger_exo10, trigger_exo11, trigger_exo12

.gitlab-ci.yml:

stages:
  - triggers

trigger_exo01:
  stage: triggers
  trigger:
    include: 01-emetteurUDPv4/.gitlab-ci.yml
  rules:
    - changes:
        - 01-emetteurUDPv4/*.c

trigger_exo02:
  stage: triggers
  trigger:
    include: 02-config-adresse/.gitlab-ci.yml
  rules:
    - changes:
        - 02-config-adresse/*.c

trigger_exo03:
  stage: triggers
  trigger:
    include: 03-recepteurUDPv4/.gitlab-ci.yml
  rules:
    - changes:
        - 03-recepteurUDPv4/*.c

trigger_exo04:
  stage: triggers
  trigger:
    include: 04-affichage-adresse/.gitlab-ci.yml
  rules:
    - changes:
        - 04-affichage-adresse/*.c

trigger_exo05:
  stage: triggers
  trigger:
    include: 05-emetteurUDPv6/.gitlab-ci.yml
  rules:
    - changes:
        - 05-emetteurUDPv6/*.c

trigger_exo06:
  stage: triggers
  trigger:
    include: 06-recepteurUDPv6/.gitlab-ci.yml
  rules:
    - changes:
        - 06-recepteurUDPv6/*.c

trigger_exo07:
  stage: triggers
  trigger:
    include: 07-emetteurTCPv4/.gitlab-ci.yml
  rules:
    - changes:
        - 07-emetteurTCPv4/*.c

trigger_exo08:
  stage: triggers
  trigger:
    include: 08-recepteurTCPv4/.gitlab-ci.yml
  rules:
    - changes:
        - 08-recepteurTCPv4/*.c

trigger_exo09:
  stage: triggers
  trigger:
    include: 09-transfert-fichierTCPv6-source/.gitlab-ci.yml
  rules:
    - changes:
        - 09-transfert-fichierTCPv6-source/*.c

trigger_exo10:
  stage: triggers
  trigger:
    include: 10-transfert-fichierTCPv6-dest/.gitlab-ci.yml
  rules:
    - changes:
        - 10-transfert-fichierTCPv6-dest/*.c

trigger_exo11:
  stage: triggers
  trigger:
    include: 11-dialogue-serveurTCP/.gitlab-ci.yml
  rules:
    - changes:
        - 11-dialogue-serveurTCP/*.c

trigger_exo12:
  stage: triggers
  trigger:
    include: 12-chat/.gitlab-ci.yml
  rules:
    - changes:
        - 12-chat/*.c

fix message size error
  06-recepteurUDPv6/receiver-udp.c
Due: trigger_exo06

correct use of flags for getaddrinfo()
  04-affichage-adresse/receiver-udp.c
Due: trigger_exo04

version finale
  04-affichage-adresse/receiver-udp.c
Due: trigger_exo04

version avec flags corrects
  05-emetteurUDPv6/sender-udp.c
Due: trigger_exo05

version avec bons flags
  06-recepteurUDPv6/receiver-udp.c
Due: trigger_exo06

additional tests for 7, 8 and 9
  07-emetteurTCPv4/README.md
  07-emetteurTCPv4/tests.sh
  08-recepteurTCPv4/README.md
  08-recepteurTCPv4/tests.sh
  09-transfert-fichierTCPv6-source/README.md
  09-transfert-fichierTCPv6-source/tests.sh
Due: none

fix tests 9 and 10 that always return true
  04-affichage-adresse/tests.sh
  06-recepteurUDPv6/tests.sh
Due: none

typo in test 14 for exo8
  08-recepteurTCPv4/tests.sh
Due: none

remove unecessary lines
  04-affichage-adresse/receiver-udp.c
  05-emetteurUDPv6/sender-udp.c
  06-recepteurUDPv6/receiver-udp.c
Due: trigger_exo04, trigger_exo05, trigger_exo06

errx renvoie 1 et non pas le code d'erreur de getaddrinfo
  04-affichage-adresse/receiver-udp.c
Due: trigger_exo04

create TCP socket and use SO_REUSEADDR
  07-emetteurTCPv4/sender-tcp.c
Due: trigger_exo07

remove error and add connect
  07-emetteurTCPv4/sender-tcp.c
Due: trigger_exo07

send tcp
  07-emetteurTCPv4/sender-tcp.c
Due: trigger_exo07

receive tcp
  08-recepteurTCPv4/receiver-tcp.c
Due: trigger_exo08

better wait for incoming message
  08-recepteurTCPv4/receiver-tcp.c
Due: trigger_exo08

open file
  09-transfert-fichierTCPv6-source/sender-tcp.c
Due: trigger_exo09

sender ipv6
  09-transfert-fichierTCPv6-source/sender-tcp.c
Due: trigger_exo09

typo in test 8.13 + increasing timeout values
  07-emetteurTCPv4/tests.sh
  08-recepteurTCPv4/tests.sh
  09-transfert-fichierTCPv6-source/tests.sh
Due: none

exo 10 passes all tests
  10-transfert-fichierTCPv6-dest/receiver-tcp.c
Due: trigger_exo10

new urls and tests
  11-dialogue-serveurTCP/README.md
  11-dialogue-serveurTCP/tests.sh
Due: none

new tests
  10-transfert-fichierTCPv6-dest/README.md
  10-transfert-fichierTCPv6-dest/tests.sh
Due: none

prevent ns in test 4 (ubuntu)
  10-transfert-fichierTCPv6-dest/tests.sh
Due: none

break line
  08-recepteurTCPv4/receiver-tcp.c
Due: trigger_exo08

fix non-deterministic error
  08-recepteurTCPv4/receiver-tcp.c
Due: trigger_exo08

remove unwanted flag
  08-recepteurTCPv4/receiver-tcp.c
Due: trigger_exo08

receiver tcp ipv6
  10-transfert-fichierTCPv6-dest/receiver-tcp.c
Due: trigger_exo10

base
  11-dialogue-serveurTCP/client-http.c
Due: trigger_exo11

ipv4 works
  11-dialogue-serveurTCP/client-http.c
Due: trigger_exo11

use stdout file descriptor instead of fprintf
  11-dialogue-serveurTCP/client-http.c
Due: trigger_exo11

use fprintf instead of errx
  11-dialogue-serveurTCP/client-http.c
Due: trigger_exo11

some very primitive structure
  12-chat/client-chat.c
Due: trigger_exo12

fix bind, don't use getaddrinfo
  12-chat/client-chat.c
Due: trigger_exo12

some new message processing
  12-chat/client-chat.c
Due: trigger_exo12

new defines, test 0 - 4 pass
  12-chat/client-chat.c
Due: trigger_exo12

pass all tests
  12-chat/client-chat.c
Due: trigger_exo12

status IGNORE
  12-chat/client-chat.c
Due: trigger_exo12

c'est nickel
  12-chat/client-chat.c
Due: trigger_exo12

message binaires
  12-chat/client-chat.c
Due: trigger_exo12

binaire et transfert fichier
  12-chat/client-chat.c
Due: trigger_exo12

transfert de tout fichier
  12-chat/client-chat.c
Due: trigger_exo12
