Repository lucianmocan/unistra-Algorithmes-des-reseaux: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_exo01, trigger_exo02, trigger_exo03, trigger_exo04, trigger_exo05, trigger_exo06, trigger_exo07, trigger_exo08, trigger_exo09, trigger_exo10, trigger_exo11, trigger_exo12

.gitlab-ci.yml:

stages:
  - triggers

trigger_exo01:
  stage: triggers
  trigger:
    include: 01-emetteurUDPv4/.gitlab-ci.yml
  rules:
    - changes:
        - 01-emetteurUDPv4/*.c

trigger_exo02:
  stage: triggers
  trigger:
    include: 02-config-adresse/.gitlab-ci.yml
  rules:
    - changes:
        - 02-config-adresse/*.c

trigger_exo03:
  stage: triggers
  trigger:
    include: 03-recepteurUDPv4/.gitlab-ci.yml
  rules:
    - changes:
        - 03-recepteurUDPv4/*.c

trigger_exo04:
  stage: triggers
  trigger:
    include: 04-affichage-adresse/.gitlab-ci.yml
  rules:
    - changes:
        - 04-affichage-adresse/*.c

trigger_exo05:
  stage: triggers
  trigger:
    include: 05-emetteurUDPv6/.gitlab-ci.yml
  rules:
    - changes:
        - 05-emetteurUDPv6/*.c

trigger_exo06:
  stage: triggers
  trigger:
    include: 06-recepteurUDPv6/.gitlab-ci.yml
  rules:
    - changes:
        - 06-recepteurUDPv6/*.c

trigger_exo07:
  stage: triggers
  trigger:
    include: 07-emetteurTCPv4/.gitlab-ci.yml
  rules:
    - changes:
        - 07-emetteurTCPv4/*.c

trigger_exo08:
  stage: triggers
  trigger:
    include: 08-recepteurTCPv4/.gitlab-ci.yml
  rules:
    - changes:
        - 08-recepteurTCPv4/*.c

trigger_exo09:
  stage: triggers
  trigger:
    include: 09-transfert-fichierTCPv6-source/.gitlab-ci.yml
  rules:
    - changes:
        - 09-transfert-fichierTCPv6-source/*.c

trigger_exo10:
  stage: triggers
  trigger:
    include: 10-transfert-fichierTCPv6-dest/.gitlab-ci.yml
  rules:
    - changes:
        - 10-transfert-fichierTCPv6-dest/*.c

trigger_exo11:
  stage: triggers
  trigger:
    include: 11-dialogue-serveurTCP/.gitlab-ci.yml
  rules:
    - changes:
        - 11-dialogue-serveurTCP/*.c

trigger_exo12:
  stage: triggers
  trigger:
    include: 12-chat/.gitlab-ci.yml
  rules:
    - changes:
        - 12-chat/*.c

Update README.md
  01-emetteurUDPv4/README.md
Due: none

test arg number & convert and check port number
  01-emetteurUDPv4/sender-udp.c
Due: trigger_exo01

create socket
  01-emetteurUDPv4/sender-udp.c
Due: trigger_exo01

complete sockaddr struct
  01-emetteurUDPv4/sender-udp.c
Due: trigger_exo01

send message & close socket
  01-emetteurUDPv4/sender-udp.c
Due: trigger_exo01

updated message and message_length to hello world
  01-emetteurUDPv4/sender-udp.c
Due: trigger_exo01

test arg, convert check port number, socket creation
  02-config-adresse/sender-udp.c
Due: trigger_exo02

addrinfo struct
  02-config-adresse/sender-udp.c
Due: trigger_exo02

send message, close socket, free memory
  02-config-adresse/sender-udp.c
Due: trigger_exo02

added ai_flags and better error checking for getaddrinfo
  02-config-adresse/sender-udp.c
Due: trigger_exo02

removed not reached lines
  02-config-adresse/sender-udp.c
Due: trigger_exo02

link socket to local IP and PORT
  03-recepteurUDPv4/receiver-udp.c
Due: trigger_exo03

wait, close, free
  03-recepteurUDPv4/receiver-udp.c
Due: trigger_exo03

print received message
  03-recepteurUDPv4/receiver-udp.c
Due: trigger_exo03

removed unused variable
  03-recepteurUDPv4/receiver-udp.c
Due: trigger_exo03

print sender addr and port but not all tests pass
  04-affichage-adresse/receiver-udp.c
Due: trigger_exo04

add bzero call for the message input string
  04-affichage-adresse/receiver-udp.c
Due: trigger_exo04

better use with memset and init address_len
  04-affichage-adresse/receiver-udp.c
Due: trigger_exo04

remove unused variable 'bytes'
  04-affichage-adresse/receiver-udp.c
Due: trigger_exo04

mise à jour du fichier gitlab-ci.yml
  01-emetteurUDPv4/.gitlab-ci.yml
Due: none

mise à jour gitlab-ci.yml
  02-config-adresse/.gitlab-ci.yml
Due: none

mise à jour de plusieurs fichiers gitlab-ci.yml
  03-recepteurUDPv4/.gitlab-ci.yml
  04-affichage-adresse/.gitlab-ci.yml
  05-emetteurUDPv6/.gitlab-ci.yml
  06-recepteurUDPv6/.gitlab-ci.yml
  07-emetteurTCPv4/.gitlab-ci.yml
  08-recepteurTCPv4/.gitlab-ci.yml
  09-transfert-fichierTCPv6-source/.gitlab-ci.yml
  10-transfert-fichierTCPv6-dest/.gitlab-ci.yml
  11-dialogue-serveurTCP/.gitlab-ci.yml
  12-chat/.gitlab-ci.yml
Due: none

correct ignored null byte error
  01-emetteurUDPv4/sender-udp.c
Due: trigger_exo01

correct ignored null byte error
  02-config-adresse/sender-udp.c
Due: trigger_exo02

arg number and port check
  05-emetteurUDPv6/sender-udp.c
Due: trigger_exo05

handle strtol error
  05-emetteurUDPv6/sender-udp.c
Due: trigger_exo05

create socket for IPv6
  05-emetteurUDPv6/sender-udp.c
Due: trigger_exo05

fill in dest IP and PORT
  05-emetteurUDPv6/sender-udp.c
Due: trigger_exo05

should work but doesn't
  05-emetteurUDPv6/sender-udp.c
Due: trigger_exo05

does it work now ?
  05-emetteurUDPv6/sender-udp.c
Due: trigger_exo05

it works
  05-emetteurUDPv6/sender-udp.c
Due: trigger_exo05

base : arg #, check port number, create socket
  06-recepteurUDPv6/receiver-udp.c
Due: trigger_exo06

receiver-udp ipv6
  06-recepteurUDPv6/receiver-udp.c
Due: trigger_exo06

additional tests for 4, 5 and 6
  04-affichage-adresse/README.md
  04-affichage-adresse/tests.sh
  05-emetteurUDPv6/README.md
  05-emetteurUDPv6/tests.sh
  06-recepteurUDPv6/README.md
  06-recepteurUDPv6/tests.sh
Due: none

fix exo4 subject
  04-affichage-adresse/README.md
Due: none

change to 2 inputs and remove gai_strerror
  04-affichage-adresse/receiver-udp.c
Due: trigger_exo04

freeaddrinfo before exitting
  04-affichage-adresse/receiver-udp.c
Due: trigger_exo04

remove unecessary freeaddrinfo
  04-affichage-adresse/receiver-udp.c
Due: trigger_exo04

2 inputs and no gai_strerror()
  05-emetteurUDPv6/sender-udp.c
Due: trigger_exo05

2 inputs and no gai_strerror()
  06-recepteurUDPv6/receiver-udp.c
Due: trigger_exo06
